<%- include('css/style'); %> <%- include('commons/header'); %>

<table style="max-width: 640px; width: 640px">
  <tr>
    <td>
      <div style="margin-bottom: 40px">
        <div>
          <p>Bonjour <%= username %>,</p>
          <p>
            Voici votre code promo à utiliser lors de l'achat de votre titre de transport chez Airweb : <%= voucher %>
          </p>
          <div>
            <p>Merci pour votre confiance,</p>
            <p>L’équipe Mon Compte Mobilité</p>
          </div>
        </div>
      </div>
    </td>
  </tr>
</table>

<%- include('commons/footer'); %>
