<%- include('css/style'); %> <%- include('commons/header'); %>

<table style="max-width: 640px; width: 640px">
  <tr>
    <td>
      <div style="margin-bottom: 40px">
        <div>
          <p>Bonjour <%= username %>,</p>
          <p>Votre demande d'affiliation à <%= enterpriseName %> vient d'être refusée.</p>
          <p>
            En cas de questions nous vous invitons à vous rapprocher de votre
            gestionnaire.
          </p>
          <div>
            <p>Merci pour votre confiance,</p>
            <p>L’équipe Mon Compte Mobilité</p>
          </div>
        </div>
      </div>
    </td>
  </tr>
</table>

<%- include('commons/footer'); %>
