<%- include('css/style'); %> <%- include('commons/header'); %>

<table style="max-width: 640px; width: 640px">
  <tr>
    <td>
      <div style="margin-bottom: 40px">
        <div>
          <p>Bonjour <%= username %>,</p>
        </div>
        <div>
          <p>Votre compte moB est inactif depuis votre dernière connexion le <%= inactiveDate %>.</p>
        </div>
        <div>
          <p>
            Sans connexion de votre part d'ici le <%= maxConnectionDate %>, votre compte moB sera supprimé.
          </p>
        </div>
        <div>
          <p>
            Pour éviter cela, connectez-vous dès à présent à votre compte moB pour accéder aux différents
            dispositifs d'aides à la mobilité disponibles.
          </p>
        </div>
        <%- include('commons/button', {link: `${connectionLink}`, text: `Me Connecter`}) %>
        <div>
          <p>Merci pour votre confiance,</p>
          <p>L’équipe Mon Compte Mobilité</p>
        </div>
      </div>
    </td>
  </tr>
</table>

<%- include('commons/footer'); %>
