<%- include('css/style'); %> <%- include('commons/header'); %>

<table style="max-width: 640px;width: 640px;">
  <tr>
    <td>
    <div style="margin-bottom: 40px;">
      <div>
        <p>Bonjour <%= username %>,</p>
      </div>
      <div>
        <p>
          Votre demande a bien été transmise à votre gestionnaire <%= funderName %>.
        </p>
      </div>
      <div>
        <p>
          Retrouvez votre demande et suivez son avancée facilement depuis votre tableau de
          bord.
        </p>
      </div>
      <div class="btn">
        <%- include('commons/button', {link: `${dashboardLink}`, text: 'Je suis ma demande'}) %>
      </div>
      <div>
        <p>Merci pour votre confiance,</p>
        <p>L’équipe Mon Compte Mobilité</p>
      </div>
    </div>
  </td>
</tr>
</table>

<%- include('commons/footer'); %>
