<%- include('css/style'); %> <%- include('commons/header'); %>

<table style="max-width: 640px;width: 640px;">
  <tr>
    <td>
    <div style="margin-bottom: 40px">
      <div>
        <p>Bonjour <%= username %>,</p>
      </div>
      <div>
        <p>
          Votre demande d’aide "<%- incentiveTitle %>" en date du <%- date %> a été refusée
          par votre gestionnaire pour le motif suivant : <%- motif %>
        </p>
      </div>
      <div>
        <%if (comment) { %>
        <p>Commentaire : <%= comment %></p>
        <% } %>
      </div>
      <div>
        <p>
          Retrouvez l’ensemble de vos demandes et corrigez votre demande d’aide
          directement depuis votre Compte Mobilité.
        </p>
      </div>
      <div class="btn">
        <%- include('commons/button', {link: `${subscriptionsLink}`, text: 'Je corrige ma demande'}) %>
      </div>
      <div>
        <p>Merci pour votre confiance,</p>
        <p>L’équipe Mon Compte Mobilité</p>
      </div>
    </div>
  </td>
</tr>
</table>

<%- include('commons/footer'); %>
